
storybook-static
.pnpm-store
*.lock
**/dist/**
**/node_modules/**
**/vendor/**
**/vendor-prefixed/**
/.changeset
/LICENSE
package-lock.json
pnpm-lock.yaml

# Built files
/index.d.ts
/index.cjs
/index.mjs
/plugins
/shared
